@use "myContainer.scss";
@use "header.scss";
@use "registrationPage.scss";
@use "sideMenu.scss";

@use "post-scss/post";

div.error{

    height: 501px;
    width: 500px;
    background-color: rgb(255, 0, 0);
}

  
