.my-container-main
{
  display: flex;

  .my-container-side-menu{
     width: 15%;
  }

  .my-container-content{

    width: 75%;
    margin: auto;
    margin-top: 1%;
  }
}
.guest-container{
  width: 100%;
  min-height: 100vh;
  background-color: #F8AD25;

  display: flex;
  align-items: center;
  justify-content: center;

}


