.profile-container {

  width: 100%;
  height: 400px;
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  background-color: #f2f2f2;
  .profile-image {
    // background-color: rgb(76, 207, 61);
    width: 400px;
    height: 100%;
    position: relative;

    img {
      border-radius: 50%;
      width: 350px;
      object-fit: cover;
    }

    .profile-image-bottom-div{
      background-color: #42f8760d;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
       //justify-content: space-between;
      // justify-content: flex-start;
      align-items: flex-end;
      justify-content: flex-end;
      .profile-bottom-button{

        background-color: #4269f8;
        width: 100px;
        height: 100px;
        border-radius: 50%;

        img{
          width: 100px;
          height: 100px;
          cursor: pointer;
        }
      }
    }

    // .bottom-div>div {
    //   width: calc(33.33% - 10px);
    //   height: 100px;
    //   background-color: #a1a1a1;
    //   margin-right: 10px;
    //   border-radius: 50%;
    // }

  }

  .profile-info-container {
    width: 100%;
    

    .profile-user-name-button {
      width: 100%;
      height: 20%;
      //background-color: rgb(37, 98, 164);
      display: flex;


      .profile-user-name {
        width: 50%;
        display: flex;
        //background-color: rgb(37, 164, 92);
        align-items: center;          
        }

      .profile-user-button {
        width: 50%;
        //  background-color: rgb(215, 71, 181); 
          display: flex;
            justify-content: center;
            align-items: center;

        .profile-button{
            background-color: #f19beb;
           border-radius: 50px;
           padding: 1%; 
           padding-left: 2%;
           padding-right: 2%;      
        }
        .profile-button2{
          margin-left: 10px;
          background-color: #42f875;
          padding: 1%; 
          border-radius: 50px;
          padding-left: 2%;
          padding-right: 2%;
          
       }

      }
    }

    .profile-user-info-container {
      // background-color: rgb(179, 198, 34);
      width: 100%;
      height: 80%;
      display: flex;
      margin-left: 5px;

      .profile-user-info {
      //  background-color: rgb(227, 122, 52);
        width: 50%;
        height: 100%;
        padding: 1%;
      }
      .profile-info-field{

      }

      .profile-user-description {

        // background-color: rgb(175, 127, 242);
        width: 60%;
        height: 100%;

      }
    }
  }
}
.profile-post-container{
  margin-top: 1%;
  margin-left: 5%;
  width: 80%;
  margin: auto;
}

.profile-modal-add{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   // background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  
  .profile-modal-add-content {
    border-radius: 50px;
    background-color: white;
    width: 500px;
    height: auto;
    padding: 1%;

    .profile-modal-choose-file{
      img{
        width: 100px;
        cursor: pointer;
      }
      b{ cursor: pointer; }
      p{  text-align: center;}

      .profile-modal-text-content{
        text-align: center;
        input{
          width: 80%;
        }
      }
    }
    .profile-modal-button-content{
        text-align: center;
        margin: 1%;
          .profile-modal-button{
            border-radius: 50px;
            background-color: white;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
          }
        }
    } 
}