
@keyframes registration-overlay-test {
  0% {
    
    left: 99% /* Початковий зсув */
  }
  100% {
    left: 60%; /* Кінцевий зсув */
  }
}
.registration-overlay-test{
  position: absolute;
  bottom: 0;
  left: 60%;
  width: 35%;
  height: 850px;
 // background-color: rgba(0, 0, 0, 0.5);

  background-image: url("/img/dog.png");
  background-size: 100% 100%;
  
  z-index: 9999;
  left: 99%; /* Початкове значення для зсуву вліво */
  animation: registration-overlay-test 1s forwards; /* Анімація на 1 секунду */

}
@keyframes registration-overlay-test-logo {
  0% {
    
    left: -99% /* Початковий зсув */
  }
  100% {
    left: 5%; /* Кінцевий зсув */
  }
}


.registration-overlay-test-logo{

  position: absolute;
  bottom: 50%;
  left: 5%;
  width: 30%;
  height: 150px;
 // background-color: rgba(0, 0, 0, 0.5);

  background-image: url("/img/logoPage.png");
  background-size: 100% 100%;
  
  z-index: 9999;

  left: -99%; /* Початкове значення для зсуву вліво */
  animation: registration-overlay-test-logo 0.8s forwards; /* Анімація на 1 секунду */
}

.registration-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8AD25;
  width: 100%;
  height: 100%;

  form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 370px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 15px;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      font-size: 14px;
      background-color: #ffffff;
    }

    label {
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

  input[type="text"],
  input[type="email"],
  input[type="password"]
   {
    padding: 5px;
    border-radius: 10px;
   // border: 2px solid #afacac;
    margin-bottom: 10px;
    background-color:  #e7e6e6;
    text-align: center;
    border: none;
   // color: #dbdbdb;

  }
    input[type="checkbox"]
    {
          width: 20px;
          padding: 5px;
          border-radius: 10px;
          border: 2px solid #afacac;
          margin-bottom: 10px;
          text-align: center;
    }

  button[type="submit"] {
    background-color: #080808;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }

  button[type="submit"]:hover {
    background-color: #4a4a4a; 
       
 a {
      text-decoration: none;
      color: white;
    }
  
    a:visited {
      color: white;
    }
 
  }
    
  .registration-button-link {
      background-color:  #080808;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      text-align: center;

    }

.registration-button-link:hover {
background-color: #a0a3a0;
}

}

.registration-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.registration-social-icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.registration-social-icons img:hover {
  transform: scale(1.1);
}

label.registration-conditions {
  font-size: 12px;
  font-family: Geomanist, sans-serif;
  text-align: center;
}

 a {
        text-decoration: none;
        color: #0a0a0a;
}

.registration-login-forgot {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.registration-login-error-message {
  color: red;
}

.registration-login-remember {
  display: flex;
}

input.login-form-check-input {
  margin-right: 10px;
}



@media (max-width: 1140px)
 {
  .registration-overlay-test{
    display: none;
  }
  .registration-overlay-test-logo{
    display: none;
  }
}