$menu-background-color: #d5d5d5;
$menu-text-color: #fff;
$menu-hover-color: #f60;
$header-background-color: white; //#F8AD25;
$side-bar-background-color: #f8ad25; //Колір лінії з боку ul
$span-background: darkgray;
$boxShadowStyle: 0px 5px 9px rgba(0, 0, 0, 0.5);

/* $sideMenu-width: 15%;
$sideMenu-height: 300%;
$margin-ul-left: 1rem;
$margin-li-top: 1.5rem; */

//Поки показує розгорнуте
.sideMenu-container {
  --sideMenu-height: 150%;
  --margin-ul-left: 0.5rem;
  --margin-li-top: 1rem; //Відстань між li
  --sideMenu-short-width: 2.2%;
  --sideMenu-width: 15.5rem;
  background-color: $header-background-color;
  overflow: hidden; //Приховання контенту поза межами
  top: -2rem;
  border-right: 0.45rem solid $side-bar-background-color;
  position: fixed; //"Приліпання" до екрану
  z-index: 2; // задаємо високий рівень z-index, щоб меню було над іншими елементами 
  width: var(--sideMenu-width); // задаємо ширину меню 
  height: var(--sideMenu-height); // встановлюємо висоту на весь екран 
  transition: width 2s ease-in-out 2s;
  ul {
    position: relative;
    top: 5rem; //Відстань від header
    list-style: none;
    z-index: 4;
    // display: flex;
    // flex-direction: column;
    width: 20%;
    height: fit-content;
    transition: width 2s ease-in-out;
    transition: margin-left 2s ease-in-out;
    li {
      height: 1.8rem;
      padding-left: 0.5rem;
      z-index: 5;
      border-radius: 50px;
      margin-left: 1px;
      background: #F2F2F2;
      margin-top: calc(var(--margin-li-top) + 0.005rem); //Відступи між li
      width: calc(var(--margin-ul-left) + 14rem);
      
      box-shadow: $boxShadowStyle;
      img {
        margin-left: 0.5%;
        margin-right: 2.5%;
        // background: $span-background;
        //Задаємо позицію абсолютну щоб круг не залежав від позиції li
        z-index: 4;
        // margin-left: -1.65rem;
        // border-radius: 50%;
        transition: margin-left 2s ease-in; //Анімація
      }
    }
  }
  transition: width 2s ease-in-out;
}

//Показ повного бокового меню вимкнене
.show-full {
  width: var(--sideMenu-width);
  transition: width 2s ease-in-out;
  nav {
    transition: width 2s ease-in-out;
    width: fit-content;
    ul {
      li {
        span {
          margin-left: -1.4rem;
          transition: margin-left 0.5s ease-in-out;
        }
        transition: width 2s ease-in-out;
      }
      transition: width 2s ease-in-out;
    }
    div {
      left: var(--sideMenu-width);
    }
  }
}

