$message-color-user: #333;

.message-container{

   display: flex;
   margin-left: 3%;
   margin-top: 3%;
    // flex-direction: column;
    // justify-content: center;
    // /* align-items: center; */
    // width: 1000px;
    // margin: auto;
    .message-chats-container {
      //flex: 1;
      width: 30%;
    }
    
    .message-chat-container {
      flex: 1;
    }
    
    .message-chats {
      max-height: 85vh;
      overflow-y: auto;
      direction: rtl;
      .message-chats-user{
        margin-left: 10px;
        direction: ltr;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 50px;
        //background-color: #c9c9c9;
      }
      .message-chats-user:hover{
        background-color: #efefef;
      // border: 2px solid red;
      }

      h3{
        text-align: center;
      }
    }
    
    .message-chat {
    
      .message-chat-now
      {
        display: flex; /* Встановлюємо flex контейнер */
        align-items: center; /* Вирівнюємо елементи вертикально по центру */
        justify-content: center; /* Вирівнюємо елементи горизонтально по центру */
      }

      .messages {
        flex: 1;
        max-height: 75vh;
        height: 75vh;
        overflow-y: auto; 
        scrollbar-color: #000000 #e22b2b;
        word-wrap: break-word;
        word-break: break-all;
        padding: 10px;

        .messages-user{
          margin: 5%;

          .username {
            margin-bottom: 5px;
            display: inline-block;
          }
          .content{
            color: $message-color-user;
            padding: 5px;
            padding-left: 15px;
            background-color: #eeeeee;
            border-radius: 50px;
          }
        }
        .messages-user-sender{
          text-align: right; /* Розміщення вправо */
          margin: 5%;

          .username2 {       
            color: rgb(43, 78, 71);
            margin-bottom: 5px;
            display: inline-block;
           
          }
          .content{
            color: $message-color-user;
            padding: 5px;
            padding-right: 15px;
            background-color: #f8f8f8;
            border-radius: 50px;
           // width: fit-content;
          }
        }
        
          
      }

    }
    
    .message-input
    {
     // align-self: flex-end;
     display: flex;
     border: 2px solid red;
     border-radius: 50px;
     padding: 7px;
     

     input {
      flex: 1;
      border: none;
          &:focus {
            outline: none;
          }
      }
        
      button {
        border: none;
        background-color: transparent;
        padding: 5px;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
        
        &::after {
          content: "➤";
          display: block;
          transform: rotate(-45deg);
        } 
      }

    }

}

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.message-chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}