$message-color-user: #333;


.message-overlay-test{
  position: absolute;
  top: 30%;
  right: 0;
  width: 250px;
  height: 350px;
 // background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/img/cow.png");
  background-size: 100% 100%;
 
  z-index: 9999;
}

.message-container{

   display: flex;
  // margin-left: 3%;
   margin-top: 1%;
    // flex-direction: column;
    // justify-content: center;
    // /* align-items: center; */
     width: 85%;
    // margin: auto;
    
    .message-chats-container {
      //flex: 1;
      width: 25%;
    }
    
    .message-chat-container {
      flex: 1;
    }
    
    .message-chats {
      max-height: 85vh;
      overflow-y: auto;
      direction: rtl;
      
      .message-chats-user{
        margin-left: 10px;
        direction: ltr;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 50px;
        //background-color: #c9c9c9;
      }
      .message-chats-user:hover{
        background-color: #efefef;
      // border: 2px solid red;
      }

      h3{
        text-align: center;
      }
    }
    
  .message-chat {
      .message-chat-now
      {
        display: flex; 
        align-items: center; 
        justify-content: center; 
      }

 .messages {
        flex: 1;
        max-height: 75vh;
        height: 75vh;
        overflow-y: auto; 
        scrollbar-color: #413f3f#F8AD22;
        word-wrap: break-word;
        word-break: break-all;
        padding: 10px;

       // background-color: #8da788;
    .messages-user{

          width: 48%;
          .username {
            margin-bottom: 5px;
            display: inline-block;
          }
          .message-user-left{
            margin: 5px;
            margin-left: 30px;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid #F8AD22;
            .message-user-content-text-message{

              color: $message-color-user;
             
                  div{
                  //  background-color: #eeeeee;
                    display: inline-block;
                    padding: 5px;
                    display: block;
                    border-radius: 50px;
                  }
            }

          }

         
        }
          .messages-user-sender{
 
            text-align: left; /* Розміщення вправо */
            //text-align: right; /* Розміщення вправо */
         
           // background-color: #34ea18;
           
            .message-user-right{
             // background-color: #0757ad;
             margin-top: 10px;
              width: 48%;
              margin-left: auto;
              padding: 10px;
              border-radius: 10px;
              border: 2px solid #F8AD22;

            .username2 {       
              //color: rgb(14, 223, 181);
              margin-bottom: 5px;
              display: inline-block;
            }

            .message-user-content-text-message{
              color: $message-color-user;
              padding: 5px;
              padding-right: 15px;
             // background-color: #f16565;
              border-radius: 50px;
            }
          }


        }   
      }

    }
    
    .message-input
    {
     display: flex;
     border: none;
     background-color: #F2F2F2;//============================
     border-radius: 50px;
     padding: 7px;
     
     img{
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-right: 10px;
     }
     

     input {
     
      flex: 1;
      border: none;
      margin-left: 20px;
      background-color: #F2F2F2;//============================
          &:focus {
            outline: none;
          }
      }
        
    //   button {
    //     border: none;
    //     background-color: transparent;
    //     padding: 5px;
    //     border-radius: 50%;
    //     margin-left: 10px;
    //     cursor: pointer;
        
    //     &::after {
    //       content: "➤";
    //       display: block;
    //       transform: rotate(-45deg);
    //     } 
     // }
    }

}

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.message-chat-avatar {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.message-chat-avatar-none
{
  display: none;
}