




@keyframes friends-container {
    0% {
      margin-top: 100% /* Початковий зсув */
    }
    100% {
        margin-top: 0; /* Кінцевий зсув */
    }
   }
.friends-container{
   // background-color: aqua;
    margin: 3%;
    padding: 1%;
    display: flex;

   // margin-top: 100%; /* Початкове значення для зсуву вліво */
   // animation: friends-container 1s forwards; /* Анімація на 1 секунду */

    h1, h4, p {
        text-align: center;
    }
  
  
   
    .friends{
        background-color:#F5F4F5; 
        width: 55%;
        padding: 1%;
        border-radius: 20px;

       
    }
    .friend-spacer{

        width: 1%;
       // background-color: rgb(255, 38, 0);
    }
    .friend-requests{
        background-color: #F5F4F5;
        width: 40%;
        padding: 1%;
        border-radius: 20px;
      
    }

}
.friend-info{
    display: flex;
    b{
        margin-left: 10px;
    }
    img{
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
    }
}
.friend-button-orange{
    text-align: center;
    width: 30%;
    display: block;
    background-color:#F8AD22;
    border-radius: 50px;
    padding: 1%;
    margin: 10px;
    padding-left: 5%;
    padding-right: 5%;
     cursor: pointer;
     color: white;
     box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
  }
  .friend-button-delete-orange{
    text-align: center;
    width: 32%;
    display: block;
    background-color:#F8AD22;
    border-radius: 50px;
    padding: 1%;
    margin: 10px;
    padding-left: 2%;
    padding-right: 2%;
     cursor: pointer;
     color: white;
     box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
  }