@media (max-width: 830px)
 {
    .profile-info-container {
       display: none;
    }
    .profile-overlay-test{
        display: none;
    }
    .profile-user-name-button2{
        display: block;
    }
}