.post-add-container{

  width: 100%;
  height: auto;
  display: flex;
 // justify-content: flex-end; застаріле і видає помилку 
  justify-content: end;
  button{
    border-radius: 50px;
    border-color: #999999;
    padding: 5px;
    background-color: #fcfcfc;
    padding-left: 10px;
    padding-right: 10px;
  }
//вікно збереженян поста 
  .post-SavePost-modal{

    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(98, 98, 98, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;

    .post-SavePost-modal-content{
        border-radius: 10px;
        background-color: #ffffff;
        width: 500px;
        height: auto;
        padding: 10px;
        .post-SavePost-height{
          //display: flex;
          //align-items: center;
          h3{
           
           text-align: center;
          }
          span{  
             display: block;
             text-align: right;
             cursor: pointer; 
          }
        }

       .post-SavePost-categories{

       // background-color: #cfd592;
        height: 200px;
        padding: 10px;
        .post-SavePost-show-categories{

         // background-color: #33afe0;
          margin-top: 10px;
          display: flex;
       
         label {
          margin-right: 10px;
          }
      
          input {
            margin-left: auto;
            width: 20px;
            height: 20px;
            border-color: #F8AD25;
          }
          input[type="radio"]:checked {
            background-color: #F8AD25; /* Змініть колір вибраного стану на бажане значення */
          } 
        }
       }
       .post-SavePost-save-button{

        display: flex;
        justify-content: flex-end;
        margin: 10px;
          .post-SavePost-save-button-orange{
            margin-left: 10px;
            border-radius: 50px;
            background-color: #F5F4F5;
            padding-left: 22px;
            padding-right: 22px;
            text-align: center;
            border: none;
            box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
            background-color:#F8AD25;
          }
          
       }
       .post-SavePost-orange-line{

        height: 5px;
        background-color:#F8AD25;
        width: 100%;
       }

       .post-SavePost-add-name-category{

        height: auto;
        background-color:#F2F2F2;;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        input{
          width: 100%;
          border-radius: 50px;
          //padding-left: 5px;
          border: none;
          margin-top: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: #F2F2F2;   
        }
        input[type="text"]:focus {
          outline: none;//щоб не появлялась обводка при натисканні 
        }
       }
       .post-SavePost-button-container{
      
      //  background-color:#0e9221;
        text-align: right;
        padding: 7px;
        button{
          margin-left: 10px;
          border-radius: 50px;
          background-color: #F5F4F5;
          padding-left: 22px;
          padding-right: 22px;
          text-align: center;
          border: none;
          box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
        }
        .post-SavePost-button-range{
          background-color:#F8AD25;
        }


       }

    }

  }
 
  .post-modal-add{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .post-modal-add-content {
    border-radius: 50px;
    background-color: white;
    width: 500px;
    height: auto;

    padding: 1%;
   span{
    text-align: right;
    display: block;
    cursor: pointer;
   }

    div{
      margin-top: 4%;
      h3{
        text-align: center;
      }
    }
    .post-modal-choose-file{
     
      img{
        width: 100px;
        cursor: pointer;
      }
      b{
        cursor: pointer;
      }
      p{
        text-align: center;
      }
    }
    .post-modal-textarea-content{
      text-align: center;
      textarea{
        width: 80%;
      }
    }
   

   .post-modal-button-content{
    text-align: center;
    margin: 1%;
      .post-modal-button{

        border-radius: 50px;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
      }
    }
  }
}



.post-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;


.post {

  
  //margin: 10%;
   // display: flex;
    //flex-direction: column;
   // justify-content: center;
   //align-items: center;
   width: 400px;
    height: auto;
    background-color: #ffffff;
    //box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    //overflow: hidden; 
   
    .post-delete{
      text-align: right;
      cursor: pointer;
      padding: 10px;
      
    }
    
    .post-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .post-modal-content {
      border-radius: 10px;
      background-color: white;
      padding: 20px;
      text-align: center;
    }
    
    .post-modal-buttons {
      margin-top: 20px;
      
      button{
        background-color: rgb(230, 230, 230);
        border-radius: 10px;
        margin-left: 5%;
      }
      button:hover{
      border-color: red;
      }


    }

    .post-full-screen{


      .post-moda-full-screen{

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;

        .post-modal-full-screen-content{
          
          border-radius: 10px;
          background-color: rgb(207, 190, 187);
    
          width: 60%;
          height: 70%;
          display: flex;
          padding: 5px;

          .post-modal-full-screen-photo{
            width: 70%;
            height: 100%;
            background-color: rgb(51, 55, 56);

            img{
              width: 100%;
              height: 100%;
              object-fit: contain; /* Зберігає пропорції зображення та вміщує його в межі елемента */
              max-width: 100%; /* Забезпечує максимальну ширину елемента, щоб уникнути виходу зображення за межі */
              max-height: 100%; /* Забезпечує максимальну висоту елемента, щоб уникнути виходу зображення за межі */
  
            }
          }
          .post-modal-full-screen-comments{
            background-color: rgb(232, 230, 236);
            width: 30%;
            height: 100%;
            overflow: hidden; /* Обрізати вміст, який виходить за межі батьківського елемента */
            a{
              float: right; 
              cursor: pointer;
            }
            .post-modal-text{

              margin: 10px;
            }
            .post-modal-comments{
              display: grid;
              height: 50%;
              div{

                align-self: end;
                background-color: rgb(213, 213, 233);
                overflow: auto;
                height: 500px;
                margin-top: 30px;
                ul{
                  padding-left: 10px;
                  li{
                    list-style-type: none;
                  }
                }
              }
            
             

            }

          }


         
        }   
      }

    }
    
     
    .post-photo{
        img {
          width: 400px;
          height: 550px;
          object-fit: cover;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          cursor: pointer;
        }
      }
      .post-text {
       
       display: flex;
       align-items:end;
       justify-content: space-between;
        width: 100%;
        height: auto;
        font-size: 20px;
       
        b{
          cursor: pointer;
        }
      }
      .post-first-comment{

        display: flex;
        img{
          width: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    
      .post-like-container{

        padding-left: 3%;
        margin-top: 2%;
        background-color: rgb(255, 255, 255);
        width: 400px;
        .post-like{
          img{
            width: 50px;
            cursor: pointer;
            margin-left: 10px;
          }
        }
        
      }

      .post-input-comment
      {
        width: 100%;
        margin-top: 2%;
       // align-self: flex-end;
       display: flex;
       border: 2px solid red;
       border-radius: 50px;
       padding: 7px;
       
       input {
        flex: 1;
        border: none;
            &:focus {
              outline: none;
            }
        }
          
        button {
          border: none;
          background-color: transparent;
          padding: 5px;
          border-radius: 50%;
          margin-left: 10px;
          cursor: pointer;
          
          &::after {
            content: "➤";
            display: block;
            transform: rotate(45deg);
          } 
        }
      }
  
  }
}

@media (max-width: 1000px)
 {
  .post-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}